<config>
    <modules>
        <Dexhom_TransactionalEmails>
            <version>1.0.0</version>
        </Dexhom_TransactionalEmails>
    </modules>

    <global>
        <models>
            <dexhom_transactionalemails>
                <class>Dexhom_TransactionalEmails_Model</class>
            </dexhom_transactionalemails>
        </models>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <mail_status_change>
                        <type>singleton</type>
                        <class>dexhom_transactionalemails/observer</class>
                        <method>invoicedStatusChange</method>
                    </mail_status_change>
                </observers>
            </sales_order_save_commit_after>
            <customer_save_after>
                <observers>
                    <customer_activation>
                        <type>singleton</type>
                        <class>dexhom_transactionalemails/observer</class>
                        <method>customerSaveAfter</method>
                    </customer_activation>
                </observers>
            </customer_save_after>
            <wishlist_add_product>
                <observers>
                    <wishlist_product_add>
                        <type>singleton</type>
                        <class>dexhom_transactionalemails/observer</class>
                        <method>wishlistProductAdd</method>
                    </wishlist_product_add>
                </observers>
            </wishlist_add_product>
            <!--catalog_controller_product_view>
                <observers>
                    <reports>
                        <type>singleton</type>
                        <class>transactionalemails/observer</class>
                        <method>catalogProductView</method>
                    </reports>
                </observers>
            </catalog_controller_product_view-->
            <catalogrule_after_apply>
                <observers>
                    <clear_cache>
                        <type>singleton</type>
                        <class>dexhom_transactionalemails/observer</class>
                        <method>clearCache</method>
                    </clear_cache>
                </observers>
            </catalogrule_after_apply>
        </events>
        <template>
            <email>
                <dexhom_order_status_change module="Dexhom_TransactionalEmails">
                    <label>Status Mail Invoice</label>
                    <file>dexhom_order_status_change.html</file>
                    <type>html</type>
                </dexhom_order_status_change>
                <dexhom_account_new module="Dexhom_TransactionalEmails">
                    <label>New Custom Email</label>
                    <file>dexhom_account_new.html</file>
                    <type>html</type>
                </dexhom_account_new>
                <dexhom_wishlist_product_add>
                    <label>Wishlist Product Add</label>
                    <file>dexhom_wishlist_product_add.html</file>
                    <type>html</type>
                </dexhom_wishlist_product_add>
                <!--cdi_product_viewed module="Dexhom_TransactionalEmails">
                    <label>New Product Viewed Email</label>
                    <file>cdi_product_viewed.html</file>
                    <type>html</type>
                </cdi_product_viewed-->
            </email>
        </template>
    </global>

    <default>
        <transactionalemails>
            <transactionalemails_group>
                <email>shop@dexhom.com</email>
                <name>Dexhom</name>
                <email_dest_status_change>sitoweb@dexhom.com;g.sales@dexhom.com;ed.sales@dexhom.com</email_dest_status_change>
                <email_dest_new_customer>it@dexhom.com;p.store@dexhom.com</email_dest_new_customer>
                <email_dest_wishlist>sitoweb@dexhom.com;g.sales@dexhom.com</email_dest_wishlist>
            </transactionalemails_group>
        </transactionalemails>
    </default>
</config>