<config>
    <modules>
        <WaPoNe_OrderStatusNotifier>
            <version>1.0.0</version>
        </WaPoNe_OrderStatusNotifier>
    </modules>

    <global>
        <models>
            <WaPoNe_OrderStatusNotifier>
                <class>WaPoNe_OrderStatusNotifier_Model</class>
            </WaPoNe_OrderStatusNotifier>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <mail_status_change>
                        <type>singleton</type>
                        <class>WaPoNe_OrderStatusNotifier/observer</class>
                        <method>notify</method>
                    </mail_status_change>
                </observers>
            </sales_order_save_after>
        </events>
        <template>
            <email>
                <wapone_order_status_notifier module="WaPoNe_OrderStatusNotifier">
                    <label>Order Status Notifier</label>
                    <file>wapone/order_status_notifier.html</file>
                    <type>html</type>
                </wapone_order_status_notifier>
            </email>
        </template>
    </global>
</config>